.career {
  background: radial-gradient(
    39.7% 39.7% at 50% 41.08%,
    #ffffff 0%,
    #f4fbff 100%
  );
  .banner {
    text-align: center;
    padding-bottom: 10%;
    .banner-text {
      display: block;
      font-size: 64px;
      font-family: "metropolisbold";
      span {
        color: #013ee6;
      }
    }
  }
}

.aboutText {
  h1 {
    color: #231f20;
    font-family: "metropolismedium";
    font-size: 56px;
  }
}

.workAt {
  color: #231f20;
  font-size: 64px;
  font-family: "metropolissemi_bold" !important;
}

.careerContent {
  .subheading {
    color: #013ee6;
    line-height: 42px;
    padding-top: 37px;
    font-size: 42px;
  }
  .careerText {
    font-size: 18px;
    color: #231f20;
    padding-top: 44px;
    line-height: 26px;
    font-family: "Metropolis-Regular" !important;
  }
  .line-border {
    height: 2px;
    background-color: #969696;
    margin-top: 107px;
    width: 125px;
  }
  .text-right-img {
    text-align: center;
  }
}

.careerWhyWork {
  padding-top: 164px;
  .headingCenter {
    text-align: center;
    font-family: "metropolissemi_bold" !important;
    font-size: 64px;
  }
  .whyWord {
    padding-top: 106px;
    max-width: 1144px;
    margin: 0 auto;
    .careerIcon-1 {
      width: 50%;
      padding-right: 108px;
      float: left;
    }
    .careerIcon-2 {
      float: left;
      width: 50%;
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        padding-bottom: 0px;
        list-style: none;
        min-height: 194px;
        .careerImg {
          display: block;
          float: left;
          height: 158px;
          margin-right: 21px;
          margin-top: 20px;
        }
        h2 {
          color: #1128a4;
          font-family: "metropolissemi_bold";
          font-size: 30px;
        }
        p {
          color: #231f20;
          font-size: 18px;
          font-family: "Metropolis-Regular" !important;
        }
        list-style: none;
      }
    }
  }
}

.lifeAt {
  background: linear-gradient(
    105deg,
    #dee7fe 5.32%,
    rgba(208, 242, 255, 0.84) 91.2%
  );
  border-radius: 40px;
  height: 648px;
  text-align: center;
  padding-top: 207px;
  padding-left: 90px;
  padding-right: 90px;
  h1 {
    font-family: "metropolissemi_bold";
    font-size: 64px;
    color: #231f20;
  }
  p {
    padding-top: 42px;
    font-size: 32px;
    font-family: "Metropolis-Regular";
    line-height: 32px;
  }
}

.bePartMission {
  padding-top: 164px;
  h1 {
    font-size: 64px;
    font-family: "metropolissemi_bold";
  }
  p {
    font-family: "Metropolis-Regular";
    font-size: 18px;
  }
  .inputGroup {
    position: relative;
    width: 266px;
    top: 0px;
    right: 0px;
    .searchBox {
      border: 1px solid #231f20;
      border-radius: 25px;
      outline: none;
      padding: 8px 20px;
    }
    .searchImgIcon {
      background: url("/images/searchIcon_box.png") no-repeat;
      width: 20px;
      display: block;
      height: 20px;
      float: left;
      top: 10px;
      right: 0;
      position: absolute;
    }
  }
  .inputSearchBox {
    margin-top: 20px;
    .development:first-child {
      margin: 0;
      margin-right: 10px;
    }
    .development {
      margin: 0px 10px;
      border: 1px solid #231f20;
      border-radius: 40px;
      padding: 11px 36px 11px 36px;
      margin-bottom: 20px;
      color: #231f20;
      background-color: transparent;
    }
    .activeButton {
      background-color: #013ee6;
      color: #fff;
      border: 1px solid #013ee6;
    }
  }
}

.productDesigner {
  padding: 0px 10px 48px 10px;
  position: relative;
  h2 {
    font-size: 2rem;
    padding-bottom: 0px;
    font-family: "metropolissemi_bold";
    font-size: 42px;
    margin: 0 !important;
  }
  p {
    font-size: 18px;
    margin: 0;
    font-family: "Metropolis-Regular" !important;
  }
  .development {
    margin: 20px 10px;
    border: 1px solid #9d9b9c;
    border-radius: 40px;
    padding: 11px 36px 11px 36px;
    margin-bottom: 20px;
    background-color: transparent;
    color: #9d9b9c;
    font-family: "metropolissemi_bold";
    img {
      margin-right: 10px;
    }
  }
  .productApply {
    float: right;
    right: 0;
    button {
      width: 131px;
      background: none;
      border: 0;
      font-size: 32px;
      font-family: "metropolissemi_bold";
    }
  }
}

.listBox {
  float: left;
  width: 86%;
}

.productDesigner {
  ul {
    padding: 0;
    margin: 0;
    li {
      display: block;
      padding: 48px 10px 48px 10px;
      list-style-type: none;
      border-bottom: 1px solid #231f20;
      overflow: hidden;
    }
  }
}

.aboutText .line-border {
  margin-bottom: 44px !important;
}

@media only screen and (max-width: 1280px) {
  br {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .productDesigner ul li {
    display: block;
    padding: 30px 0px 30px 0px;
    padding-top: 30px;
    list-style-type: none;
    border-bottom: 1px solid #231f20;
    overflow: hidden;
  }
  .bePartMission .inputSearchBox .development:first-child {
    margin-bottom: 20px;
  }
  .career .banner {
    padding-top: 90px;
  }
  .career .banner .banner-text {
    display: block;
    font-size: 32px;
    font-family: "metropolisbold";
    line-height: 40px;
  }
  .containerSpace .aboutText h1 {
    color: #231f20;
    font-family: "metropolismedium";
    font-size: 27px;
    line-height: 30px;
  }
  .workAt {
    color: #231f20;
    font-size: 28px;
    font-family: "metropolissemi_bold" !important;
    padding-top: 30px;
  }
  .careerContent .subheading {
    color: #013ee6;
    line-height: 24px;
    padding-top: 18px;
    font-size: 24px;
  }
  .careerContent .line-border {
    margin-top: 50px;
  }
  .careerWhyWork .headingCenter {
    font-size: 24px;
  }
  .careerWhyWork {
    padding-top: 50px;
  }
  .careerWhyWork .whyWord {
    padding-top: 22px;
    display: flex;
  }
  .careerWhyWork .whyWord .careerIcon-1 {
    width: 100%;
    padding-right: 12px;
    float: left;
  }
  .careerWhyWork .whyWord ul li p {
    color: #231f20;
    font-size: 14px;
    font-family: "Metropolis-Regular" !important;
  }
  .careerWhyWork .whyWord ul li h2 {
    color: #1128a4;
    font-family: "metropolissemi_bold";
    font-size: 18px;
  }
  .careerWhyWork .whyWord .careerIcon-2 {
    float: left;
    width: 100%;
  }
  .lifeAt {
    border-radius: 40px;
    height: auto;
    text-align: center;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    margin-top: 40px;
  }
  .bePartMission h1 {
    font-size: 24px;
    font-family: "metropolissemi_bold";
    line-height: 50px;
  }
  .productDesigner .development {
    padding: 11px 20px 11px 20px;
    margin-bottom: 20px;
  }
  .productDesigner .productApply button {
    font-size: 22px;
  }
  .productDesigner p {
    font-size: 16px;
    margin: 0;
    font-family: "Metropolis-Regular" !important;
  }
  .productDesigner h2 {
    padding-top: 48px;
    font-size: 24px;
    margin-bottom: 10px !important;
  }
  .productDesigner {
    padding-top: 0;
  }
  .productDesigner ul li {
    padding-top: 0px;
  }
  .bePartMission {
    padding-top: 35px;
  }
  .lifeAt h1 {
    font-family: "metropolissemi_bold";
    font-size: 32px;
    color: #231f20;
  }
  .lifeAt p {
    padding-top: 10px;
    font-size: 22px;
    font-family: "Metropolis-Regular";
    line-height: 32px;
  }
  .careerWhyWork .whyWord ul li .careerImg {
    display: block;
    float: left;
    height: 129px;
    margin-right: 21px;
    margin-top: 0;
  }
  .careerWhyWork .whyWord ul li {
    padding-bottom: 0px;
    list-style: none;
    min-height: 120px;
    list-style: none;
    display: flow-root;
  }
}

@media only screen and (max-width: 667px) {
  .careerWhyWork .whyWord {
    padding-top: 22px;
    display: block;
  }
  .productDesigner .development {
    padding: 11px 9px 11px 9px;
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 320px) {
  .productDesigner .development {
    padding: 11px 9px 11px 9px;
  }
}
