@font-face {
  font-family: "Metropolis_BlackItalic";
  src: url("/fonts/Metropolis-BlackItalic.woff2") format("woff2"),
    url("/fonts/Metropolis-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis_Black";
  src: url("/fonts/Metropolis-Black.woff2") format("woff2"),
    url("/fonts/Metropolis-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis_SemiBoldItalic";
  src: url("/fonts/Metropolis-SemiBoldItalic.woff2") format("woff2"),
    url("/fonts/Metropolis-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis_Light";
  src: url("/fonts/Metropolis-Light.woff2") format("woff2"),
    url("/fonts/Metropolis-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "metropolisbold";
  src: url("/fonts/Metropolis-Bold.woff2") format("woff2"),
    url("/fonts/Metropolis-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis_ExtraLightItalic";
  src: url("/fonts/Metropolis-ExtraLightItalic.woff2") format("woff2"),
    url("/fonts/Metropolis-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis_ExtraBold";
  src: url("/fonts/Metropolis-ExtraBold.woff2") format("woff2"),
    url("/fonts/Metropolis-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis_ExtraBoldItalic";
  src: url("/fonts/Metropolis-ExtraBoldItalic.woff2") format("woff2"),
    url("/fonts/Metropolis-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis_RegularItalic";
  src: url("/fonts/Metropolis-RegularItalic.woff2") format("woff2"),
    url("/fonts/Metropolis-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "metropolismedium";
  src: url("/fonts/Metropolis-Medium.woff2") format("woff2"),
    url("/fonts/Metropolis-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis-Regular";
  src: url("/fonts/Metropolis-Regular.woff2") format("woff2"),
    url("/fonts/Metropolis-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis_BoldItalic";
  src: url("/fonts/Metropolis-BoldItalic.woff2") format("woff2"),
    url("/fonts/Metropolis-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis_Thin";
  src: url("/fonts/Metropolis-Thin.woff2") format("woff2"),
    url("/fonts/Metropolis-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis_MediumItalic";
  src: url("/fonts/Metropolis-MediumItalic.woff2") format("woff2"),
    url("/fonts/Metropolis-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis_ExtraLight";
  src: url("/fonts/Metropolis-ExtraLight.woff2") format("woff2"),
    url("/fonts/Metropolis-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "metropolissemi_bold";
  src: url("/fonts/Metropolis-SemiBold.woff2") format("woff2"),
    url("/fonts/Metropolis-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
