.home-landing {
  .cloudContainer {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: radial-gradient(
      39.7% 39.7% at 50% 41.08%,
      #ffffff 0%,
      #e5f1ff 44.83%
    );
    position: relative;
    z-index: 99;
  }

  .cloud {
    position: absolute;
  }

  .cloud-1 {
    top: 40%;
    left: -13%;
    max-width: 645px;
    max-height: 500px;
  }

  .cloud-2 {
    top: 30%;
    right: -10%;
    max-width: 1040px;
    max-height: 544px;
  }

  .cloud-3 {
    // right: 50%;
    // bottom: -30%;
    // max-width: 1030px;

    right: 40%;
    bottom: -9%;
    max-width: 1030px;
  }

  .cloud-4 {
    right: -30%;
    bottom: 0%;
    max-width: 1125px;
  }

  .cloud-5 {
    top: 15%;
    right: -30%;
    max-width: 1125px;
  }

  .cloud-6 {
    left: 50%;
    bottom: 10%;
    max-width: 1125px;
    transform: translateX(-50%);
    z-index: 2;
  }

  .cloud-7 {
    left: 5%;
    bottom: 10%;
    max-width: 655px;
  }

  .cloud-8 {
    right: -13%;
    bottom: -30%;
    max-width: 1044px;
  }

  .cloud-9 {
    left: 5%;
    bottom: 0%;
    max-width: 1040px;
  }

  .cloud-10 {
    top: 15%;
    left: -41%;
    max-width: 1040px;
    z-index: 2;
  }

  .cloud-11 {
    // left: -20%;
    // bottom: -20%;
    // max-width: 1040px;
    left: 20%;
    bottom: 18%;
    max-width: 1040px;
  }

  .cloud-12 {
    // left: -15%;
    // bottom: 0%;
    // max-width: 1040px;

    left: -15%;
    bottom: 16%;
    max-width: 1040px;
  }
}

.logo-container {
  max-width: 1134px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
